 .u-section-1 {
  min-height: 828px;
}

.u-section-1 .u-shape-1 {
  height: 580px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -510px auto -6px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 443px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 40px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding: 10px 57px 11px 56px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  object-position: 50% 100%;
  width: 540px;
  height: 540px;
  background-image: url("../images/home.jpg");
  background-position: 50% 50%;
  margin: 80px auto 0 20px;
}

.u-section-1 .u-shape-2 {
  width: 114px;
  height: 114px;
  margin: -94px auto 0 97px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 725px;
  }

  .u-section-1 .u-shape-1 {
    height: 496px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -426px;
    margin-bottom: -28px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 595px;
  }

  .u-section-1 .u-image-1 {
    height: 449px;
    width: 449px;
    margin-top: 62px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -85px;
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-shape-1 {
    height: 690px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -620px;
    margin-bottom: -185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 678px;
  }

  .u-section-1 .u-image-1 {
    height: 644px;
    width: 644px;
    margin-top: 34px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -142px;
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1221px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 650px;
  }

  .u-section-1 .u-image-1 {
    height: 502px;
    width: 502px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -122px;
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 994px;
  }

  .u-section-1 .u-shape-1 {
    height: 721px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -657px;
    margin-bottom: -199px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 128px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 80px;
    height: 80px;
    margin-top: -67px;
    margin-left: 47px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 920px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 45px auto 45px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 830px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 567px;
  height: 567px;
  background-image: url("../images/comprehensive.png");
  background-position: 50% 50%;
  margin: 0 32px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 405px;
  height: 405px;
  background-image: url("../images/car_thief.jpg");
  background-position: 50% 54.32%;
  margin: -314px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 244px;
  height: 244px;
  background-image: url("../images/car_crash.jpg");
  background-position: 50% 50%;
  margin: -88px 190px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 114px;
  height: 114px;
  margin: -737px auto 0 27px;
}

.u-section-2 .u-shape-2 {
  width: 77px;
  height: 77px;
  margin: 409px 68px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 830px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  line-height: 25.6px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 774px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 14px;
  }

  .u-section-2 .u-image-2 {
    width: 303px;
    height: 303px;
    margin-top: -212px;
  }

  .u-section-2 .u-image-3 {
    width: 201px;
    height: 201px;
    margin-top: -98px;
    margin-right: 180px;
  }

  .u-section-2 .u-shape-1 {
    width: 102px;
    height: 102px;
    margin-top: -701px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 478px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 774px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 45px;
  }

  .u-section-2 .u-text-3 {
    line-height: 1.8;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: -4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 856px;
  }

  .u-section-2 .u-image-1 {
    width: 422px;
    height: 422px;
    margin-top: 144px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 273px;
    height: 273px;
    margin-top: -173px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -55px;
    margin-right: 58px;
  }

  .u-section-2 .u-shape-1 {
    width: 76px;
    height: 76px;
    margin-top: -776px;
    margin-left: 9px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 405px;
    margin-right: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 856px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: -190px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 774px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 36px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 520px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 160px;
    padding-bottom: 50px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -91px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -11px;
    margin-right: 23px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -788px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-3 .u-shape-1 {
  width: 938px;
  height: 910px;
  margin: 50px auto 0;
}

.u-section-3 .u-list-1 {
  width: 680px;
  margin: -842px auto 162px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 730px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-7 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-shape-1 {
    width: 909px;
    height: 806px;
    margin-top: 55px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-top: -739px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-3 .u-shape-1 {
    height: 722px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 619px;
    margin-top: -662px;
    margin-bottom: 120px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-3 .u-shape-1 {
    height: 778px;
    width: 580px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-list-1 {
    width: 503px;
    margin-top: -718px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-3 .u-shape-1 {
    height: 506px;
    width: 422px;
    margin-left: -41px;
    margin-right: -41px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -483px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-style: normal;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 2px;
  width: 781px;
  line-height: 2;
  margin: 46px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 316px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 244px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 249px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-shape-1 {
  width: 360px;
  height: 360px;
  background-image: none;
  margin: 59px 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 351px;
  height: 351px;
  background-image: url("../images/covered_car.png");
  background-position: 50% 50%;
  margin: -411px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 38px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 165px 30px 30px;
}

.u-section-5 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 635px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 473px;
  height: 473px;
  background-image: url("../images/purpose.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 114px;
  height: 114px;
  margin: -67px 51px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-5 .u-shape-1 {
    height: 273px;
    width: 275px;
  }

  .u-section-5 .u-image-1 {
    width: 267px;
    height: 267px;
    margin-top: -324px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 80px;
  }

  .u-section-5 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 593px;
  }

  .u-section-5 .u-image-2 {
    width: 465px;
    height: 465px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -59px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1707px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -197px;
    margin-bottom: -197px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-5 .u-shape-1 {
    height: 362px;
    width: 380px;
    margin-right: auto;
    margin-left: 133px;
  }

  .u-section-5 .u-image-1 {
    width: 383px;
    height: 383px;
    margin-top: -413px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 154px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 451px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-5 .u-shape-1 {
    height: 291px;
    width: 298px;
    margin-right: 109px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    width: 286px;
    height: 286px;
    margin-top: -350px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 338px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-5 .u-shape-1 {
    height: 216px;
    width: 232px;
    margin-right: 41px;
  }

  .u-section-5 .u-image-1 {
    width: 217px;
    height: 217px;
    margin-top: -275px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 520px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 320px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -10px;
    margin-right: 20px;
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 982px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 40px 0 40px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 902px;
}

.u-section-6 .u-container-layout-1 {
  padding: 40px 50px 40px 35px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 26px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 52px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 902px;
}

.u-section-6 .u-container-layout-2 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-6 .u-shape-1 {
  width: 246px;
  height: 246px;
  margin: 9px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 510px;
  height: 510px;
  background-image: url("../images/benefit.jpg");
  background-position: 50% 50%;
  margin: -128px 0 0 auto;
}

.u-section-6 .u-image-2 {
  width: 279px;
  height: 279px;
  box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
  background-image: url("../images/piggy_bank.jpg");
  background-position: 50% 50%;
  margin: -139px auto 0 0;
}

.u-section-6 .u-shape-2 {
  width: 114px;
  height: 114px;
  margin: -58px 134px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 865px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 55px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 865px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -137px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -27px;
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 811px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-6 .u-image-2 {
    width: 246px;
    height: 246px;
    margin-top: -74px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -6px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 745px;
  }

  .u-section-6 .u-image-1 {
    width: 464px;
    height: 464px;
    margin-top: -170px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    width: 272px;
    height: 272px;
    margin-top: -162px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -66px;
    margin-right: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-6 .u-shape-1 {
    width: 201px;
    height: 201px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -125px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -76px;
    margin-left: 10px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -20px;
    margin-right: 40px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 742px;
}

.u-section-7 .u-shape-1 {
  width: 626px;
  height: 626px;
  margin: 58px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -533px;
  margin-bottom: 151px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 434px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 30px 29px;
}

.u-section-7 .u-form-1 {
  margin: 0;
}

.u-section-7 .u-form-group-3 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 434px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 7.5rem;
  margin: 0 0 0 auto;
}

.u-section-7 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 230px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 67px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-7 .u-shape-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -447px;
  }

  .u-section-7 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 180px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -247px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 25px;
  }
}

.scroll-container {
	position: absolute;
	top: 0;
	right:0;
	height: 100%;
	width: 10%;
}

.scroll-container:before {
	content: '';
	display: block;
	height: 100vh;
	pointer-events: none;
}

.scroll-container a {
	position: sticky;
	top: 88vh;
	cursor: pointer;
	color: darkred;
}

.scroll-container p {
	font-size: 3em;
	transform: rotate(270deg);
}